.background {
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(3.5px);
  position: fixed;
  width: 100vw;
  color: white;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 55px;
  width: 75vw;
  margin: auto;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 23px;
  font-weight: bolder;
  cursor: pointer;
}
.right {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.right ul {
  display: flex;
  align-items: center;
}
.right ul li {
  list-style: none;
  margin-left: 30px;
}
